h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

#System_name {
    text-align:center;
    font-size: 300%;
    font-family: verdana;
    margin-top:140px;
}

#logo {
    display: block;
    margin-bottom:20px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

#top {
    margin-top: 15px;
    margin-left: 15px;
}
#logout {
    width:10%;
    float:right;
}
